.logo_place_header {
  background-image: url(../../../images/logo/logo_place_header.svg);
  background-repeat: no-repeat;


  position: absolute;
  top: 30px;
  left: 0;
  /* При использовании абсолютного позиционирования необходимо указывать сразу две координаты.
Например, top и left. Если задавать координату только по одной оси - может возникнуть нестандартное отображение в некоторых браузерах, например в браузере Safari.
Причем даже в последних его версиях. */
}
