.header {
  position: relative;

  overflow: hidden; /* Чтобы крутящийся квадрат не выходил за границу блока */
  display: flex;
  flex-direction: column;
  justify-content: center;

  box-sizing: border-box;
  height: 50vh; /* Весь экран, если мы в пределах следующих значений: */
  margin: 0;
  padding: 0 0 0 64px;

  background-color: #f2f2f2;

  &__title {
    z-index: 10;

    align-self: flex-start;

    width: 90%; /* Adjust the width for smaller screens */
    max-width: 730px; /* Set a maximum width */
    margin: 0;
    padding: 0;

    font-size: 6vw; /* Adjust the font size based on viewport width */
    font-weight: 700;
    line-height: 1.2;

    @media screen and (width >= 1100px) {
      width: 730px; /* Reset the width for larger screens */
      font-size: 102px; /* Reset the font size for larger screens */
      line-height: 96px; /* Reset the line height for larger screens */
    }
  }

  &__subtitle {
    position: absolute;
    z-index: 2;
    bottom: 30px;

    width: 388px;
    margin: 0;
    padding: 0;

    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
  }

  &__square-pic {
    position: absolute;
    z-index: 0;
    top: 64px;
    right: 0;

    width: 40%; /* Adjust the width for smaller screens */
    height: 50%; /* Allow the height to adjust proportionally */

    background-color: #2f80ed;

    @media screen and (width >= 1100px) {
      width: 568px; /* Reset the width for larger screens */
      height: 568px; /* Reset the height for larger screens */
    }
  }

  &__main-illustration {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;

    width: 60%; /* Adjust the width for smaller screens */
    height: auto; /* Allow the height to adjust proportionally */

    /* Чтобы картинка не сжалась и начиналась от верха  */
    object-fit: cover;
    object-position: top;

    @media screen and (width >= 1100px) {
      width: 765px;
      height: 608px;
    }
  }

  &__link {
    z-index: 2;
    color: #2f80ed;
    text-decoration: none;

    &:hover {
      opacity: 0.5;
      transition: opacity 0.2s ease;
    }
  }

  @media screen and (width >= 1100px) {
    min-height: 600px;
    max-height: 756px;
  }
}
