.feynman {
  /* Не стоит ограничивать максимальную высоту секции с текстовым контентом.
  Контент часто изменяется, увеличение количества текста может сломать верстку.
  В данном случае уместно будет использовать стиль min-height, таким образом мы
  сможем решить нашу задачу, но при этом не ограничим максимальную высоту секции,
  что позволит ей растягиваться. */
  min-height: 890px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
}
