.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 0 0 64px; /* отступ слева */
  margin: 0;
  background-color: #f2f2f2;
  height: 100vh; /*Весь экран, если мы в пределах следующих значений: */
  min-height: 600px;
  max-height: 756px;
}
