.footer {
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: #1f1f1f;
  min-height: 350px;
  position: relative;
  box-sizing: border-box; /*чтобы падинги не расширяли сам блок*/
  padding: 60px 0 40px 0; /*внутренний отступ сверху и снизу у footer*/
}
